header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+380639999999")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact__text 6337 3128

                a.contact(href="mailto:info@business.co")
                    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
                    span.contact__text info@business.co

                a.facebook-icon(href="facebook.com")
                    i.fa.fa-facebook(aria-hidden="true")

    .container
        .header__bottom
            .logo: img.logo__picture(src="images/logo.png" alt="picture")
            nav.nav
            - var items = ['Home', 'About us', 'Our Approch', 'Our work']
              each item in items
                if item === 'Home'
                    a.nav__link.nav__link--active(href="#")= item
                else
                    a.nav__link(href="#")= item
            a.button.header__button.button--red(href="#") Free Consultation
